.shopcategory-banner {
  display: block;
  margin: 30px auto;
  width: 80%;
}
.shopcategory-indexSort {
  display: flex;
  margin: 0px 150px;
  justify-content: space-between;
  align-items: center;
}
.shopcategory-sort {
  padding: 10px 20px;
  border-radius: 40px;
  border: 1px solid #888;
}
.shopcategory-indexSort p span {
  font-weight: 600;
}
.shopcategory-products {
  margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 70px;
    column-gap: 30px;
    width: 100% !important;
    padding-left: 15px;
}
.shopcategory-loadmore{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px auto;
  width: 230px;
  height: 70px;
  border-radius: 75px;
  background: #ededed;
  color: #464646;
  font-size: 18px;
  font-weight: 600px;
}